  body{
       background-color: #5c5c5b;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: rgba(255,255,255,0.08);
        backdrop-filter: blur(10px);
        padding: 25px;
        border-radius: 16px;
        width: 280px;
        box-shadow: 0px 15px 40px rgba(0,0,0,0.5);

}



    

    input{
        border: none;
        border-radius: 8px;
        width: 100%;
        padding: 15px;
        outline: none;
        
    }

    button{
        border: none;
        color: white;
        background-color: black;
        border-radius: 8px;
        width: 113%;
        padding: 15px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }

    button:hover{
        transform: translateY(-2px);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
    }

    button:active{
        transform: scale(0.95); /*sensação de clique real*/
    }

    #resultado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}

footer{
    position: fixed;      /* deixa no final da tela */
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #ccc;
    font-size: 14px;
    border-top: 1px solid #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}